body {
	margin: 60px 0 60px 80px;
	font-size: 12px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	line-height: 24px;
}

header, footer, article, section, nav {
        display: block;
}

.byline, body > header h2 {
	display: none;
}

abbr[title], acronym[title] {
        border-bottom-width: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	background-color: #5ec5ff;
	color: #fff;
	margin: -3px;
	padding: 3px;
}

a:before {
        content: url("/images/arrow_off.gif");
        margin-left: -15px;
}

a:hover:before {
        content: url("/images/arrow_on.gif");
}

h1, h2, h3 {
	margin: 0 0 24px 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

body > header h1 {
	font-weight: bold;
}

body > header h1 a:hover:after {
	content: "[Home]";
}

p {
	margin: 0 0 24px 0;
	padding: 0;
}

/* @group Articles */

article {
	width: 440px;
	float: left;
}

article section {
        clear: both;
}

article header h1 {
	float: left;
	width: 360px;
	font-weight: bold;
}

article h1.entry-title a:hover:after {
	content: "[Permalink]";
}

article header abbr.published {
	float: right;
	color: #ccc;
}

article section.entry-content {
	clear: left;
}

/* @end */

/* @group Navigation */

nav {
	float: left;
	margin-left: 40px;
	width: 320px;
	color: #999;
}

nav + nav {
	float: left;
	width: 160px;
	color: #ccc;
}

nav ul {
	margin: 0 0 24px 0;
	padding: 0;
	list-style: none;	
}

nav ul li {
        clear: both;
}

nav + nav ul {
	margin: 0;
}

nav abbr.published {
	float: left;
	width: 120px;
	text-align: right;
	color: #ccc;
	clear: left;
}

nav span.entry-title {
	float: right;
	width: 160px;
	clear: left;
}

nav h1 {
	margin-left: 160px;
	color: #666;
}

nav + nav h1 {
	margin-left: 0;
	color: #999;
}

nav h2 + h1 + ul a:hover:after {
	content: "[Github]";
}

nav + nav ul + h1 + ul a:hover:after {
	content: "[External]";
}

nav ul + h1 {
	padding-top: 24px;
	clear: both;
}

nav h2 + h1 + ul {
	margin-left: 160px;
}

nav h2 {
	display: block;
	clear: both;
	margin-left: 160px;
	padding-top: 24px;
}

/* @end */

footer {
	clear: left;
}

dl {
        margin: 0;
	padding: 0;
}

dd, dt {
        margin: 0;
	padding: 0;
	display: block;
}

dt {
	width: 120px;
	float: left;
	color: #999;
}

dd {
	width: 320px;
	float: right;
}

dd a:before, p a:before {
        content: "";
	margin-left: 0;
}


dd a:hover:before, p a:hover:before {
        content: "";
}

dd a, p a {
        border-bottom: 1px solid #ccc;
}

dd a:hover, p a:hover {
        border-bottom: none;
}

a.email:hover:after {
        content: " [Email]";
}

a.external:hover:after {
        content: " [External]";
}

code {
	background-color: #f5f5f5;
	font-size: 14px;
}

section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

section ul li {
        margin: 0;
	padding: 0;
	clear: both;
}

section ul span.entry-title {
	margin-right: 14px;
	color: #666;
	width: 320px;
	display: block;
	float: left;
}

section ul abbr.published {
        color: #999;
	float: right;
}

/* @group Base Elements */

header, nav, section, footer, article {
	display: block;
}

/* @end */

/* @group Positioning */

body {
	margin: 10px 20px;
	padding: 0;
	background-color: #fff;
}

header, nav, section, footer {
	margin-bottom: 10px;
	padding: 10px 20px;
}

body > section {
	background-color: #eee;
	width: 440px;
	float: left;
	border-bottom: 10px solid #ddd;
}

header + nav {
	display: none;
}

section + nav {
	width: 260px;
	left: 520px;
	position: absolute;
}

nav + nav {
	left: 840px;
	position: absolute;
	width: 150px;
}

footer {
	clear: left;
	width: 440px;
}

/* @end */

/* @group Global Styling */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

h1, h2, h3, h4 {
	font-size: 13px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	background-color: #666;
	color: #fff;
	margin: -3px;
	padding: 3px;
}

/* @end */

/* @group Header */

body > header a:hover:after {
	content: " [Home]";
}

header h2 {
	display: none;
}

/* @end */

/* @group Article */

article header {
	margin: 0;
	padding: 0;
}

article .entry-title {
	float: left;
	margin-bottom: 20px;
}

article .entry-title a:hover:after {
	content: " [Permalink]";
}

article .updated, article .published {
	float: right;
	color: #999;
}

article .byline {
	display: none;
}

article section {
	clear: left;
	margin: 0;
	padding: 0;
}

article p {
	padding: 0;
	margin: 0 0 20px 0;
}

article p:last-child {
	margin: 0;
}

article p a {
	color: #333;
	border-bottom: 1px dashed #ccc;
	margin: 0 2px;
}

article p a:hover {
	background-color: transparent;
	padding: 0;
	margin: 0 2px;
	color: #333;
	border-bottom: 1px solid #333;
}

/* @end */

/* @group Code */

.highlight pre {
	background-color: #fff;
	margin: 0 -10px 20px -10px;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 16px;
}

code {
	font-size: 12px;
	font-family: "Consolas", Courier, mono;
	color: #333;
}

.highlight .lineno {
	color: #ccc;
	padding-right: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

/* @end */

/* @group General Content */

body > section p {
	margin: 0 0 20px 0;
}

body > section p:last-child {
	margin: 0;
}

body > section > h1 {
	margin-bottom: 20px;
}

/* @end */



/* @group Skip Navigation */

header + nav {
	margin-top: -10px;
}

header + nav a {
	display: block;
	background-color: #ccc;
	margin: 0 -20px 0 -20px;
	padding: 5px 20px;
	color: #fff;
}

header + nav a:hover {
	display: block;
	margin: 0 -20px 0 -20px;
	padding: 5px 20px;
	color: #fff;
}

header + nav a:hover:after {
	content: " [Skip Content]";
}

/* @end */

/* @group Primary Navigation */

nav h1 {
	margin: 0 0 20px 100px;
}

nav h1 {
	color: #999;
}

nav a {
	color: #666;
}

nav ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

nav ul:last-child {
	margin-bottom: 0;
}

nav li {
	clear: both;
}

nav .entry-title {
	width: 160px;
	float: right;
}

nav .published, nav .updated {
	float: left;
	color: #ccc;
}

nav .byline {
	display: none;
}

nav p {
	clear: left;
	padding-top: 20px;
	margin: 20px 0 20px 100px;
}

nav p + h1 + ul {
	margin-left: 100px;
}

section + nav ul:last-child a:hover:after {
	content: " [Github]";
}

/* @end */

/* @group Secondary Navigation */

nav + nav h1 {
	margin-left: 0;
	color: #ccc;
}

nav + nav a {
	color: #999;
}

nav + nav ul:last-child a:hover:after {
	content: " [External]";
}

/* @end */

/* @group Footer */

footer {
	color: #666;
}

footer p {
	margin: 0 0 20px 0;
}

footer p:last-child {
	margin: 0;
}

footer h1 {
	margin-bottom: 20px;
	color: ;
}

footer p a {
	color: #333;
	border-bottom: 1px dashed #ccc;
	margin: 0;
	padding: 0;
}

footer p a:hover {
	background-color: transparent;
	padding: 0;
	margin: 0;
	color: #333;
	border-bottom: 1px solid #333;
}

/* @end */

@media all and (max-width: 650px) {	
	
/* @group Positioning */

	body > section {
		float: none;
		width: inherit;
	}

	section + nav, nav + nav, footer {
		width: inherit;
		position: inherit;
	}
	
	header + nav {
		display: block;
	}

/* @end */

body > header a {
	display: block;
	margin: -5px -20px;
	padding: 5px 20px;
}

body > header a:hover {
	display: block;
	margin: -5px -20px;
	padding: 5px 20px;
}

/* @group Primary Navigation */

	nav h1 {
		margin-left: 0;
		color: #666;
	}
	
	nav .entry-title {
		width: 75%;
	}
	
	nav p {
		margin-left: 0;
	}
	
	nav p + h1 + ul {
		margin-left: 0;
	}
	
	nav a {
		color: #666;
	}
	
	nav + nav a {
		color: #666;
	}
	
	nav p a, nav + nav a, nav p + h1 + ul a {
		width: 100%;
		display: block;
		padding: 5px 20px;
		margin: 0 -20px 1px -20px;
		background-color: #eee;
	}
	
	nav p a:hover, nav + nav a:hover, nav p + h1 + ul a:hover {
		display: block;
		padding: 5px 20px;
		margin: 0 -20px 1px -20px;
		background-color: #666;
	}

/* @end */

/* @group Secondary Navigation */

	nav + nav h1 {
		color: #666;
	}

/* @end */	
		
}
