.csharp .c1 {
	color: rgb(0,128,0);
}

.csharp .k {
	color: #00f;
}

.csharp .nf {
	color: #000;
}

.csharp .p {
	color: #3333;
}

.csharp .kt {
	color: #269dbc;
}

.csharp .n {
	color: #333;
}

.csharp .m {
	color: #c00;
}
