---
layout: default
title: Comments Test
date: 2011
---

<section> 
    <article class="hentry" id=""> 
	<header> 
	    <hgroup> 
		<h1 class="entry-title"> 
		    <a href="/about.html" rel="bookmark" title="Permalink for About Me">Comments Test</a> 
		</h1> 
		
	    </hgroup> 
	    <span class="byline"> 
		Posted by: 
		<address class="vcard author"> 
		    <a class="url fn nickname" href="http://www.xyncro.com" rel="me" title="Link to the author">Andrew</a> 
		</address> 
	    </span> 
	    <abbr class="published updated" title="2011">2011</abbr> 
	</header> 
	<section class="entry-content"> 
	    <p>Some content here</a> 
	</section>
{% include comments.html %}
    </article> 
</section>

{% include primary_nav_latest.html %}

