    </section>
    <footer>
	  <p itemprop="author" itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person">
		The Xyncro Blog is written by (me) <span itemprop="name">Andrew Cherry</span>. To contact me (or for other minor detail like working with me) see my personal section at <a itemprop="url" href="http://xyncro.com/andrew">xyncro.com/andrew</a>.
	  </p>
      <p>Some footer content goes here.</p>
    </footer>
    <!--<script data-main="/js/main" src="/js/vendor/require.js"></script>-->
  </body>
</html>
