<nav>
	<h1>Also At</h1> 
	<ul> 
		<li>
			<a href="http://twitter.com/kolektiv" rel="me external" title="Follow me on Twitter - @kolektiv">Twitter</a>
		</li> 
		<li>
			<a href="https://github.com/kolektiv" rel="me external" title="See my publically available code on Github">Github</a> 
		</li> 
	</ul>
	<h1>Meta</h1> 
	<ul> 
		<li> 
			<a href="/about.html" rel="me" title="About this site and its author">About</a> 
		</li> 
		<li>
			<a href="/contact.html" rel="me" title="Get in touch">Contact</a>
		</li>
	</ul>
</nav>