<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="author" content="Andrew Cherry" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <link rel="profile" href="http://microformats.org/profile/hatom">
    <link href="http://xyncro.com/atom.xml" rel="alternate" title="Andrew Cherry on Software and Technology" type="application/atom+xml" /> 
  </head>
  <body>
    <header>
      <hgroup>
	<h1>
	  <a href="/" rel="home me" title="Go to the home page">
	    XYNCRO / Andrew Cherry
	  </a>
	</h1>
	<h2>Andrew Cherry on Software and Technology</h2>
      </hgroup>
    </header>
    {{ content }}
    <footer>
      <p>Content copyright etc.</p>
    </footer>
  </body>
</html>
