<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="author" content="Andrew Cherry" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <link rel="profile" href="http://microformats.org/profile/hatom">
  </head>
  <body>
    <header>
      <hgroup>
	<h1>
	  <a href="http://www.xyncro.com" rel="home me">
	    XYNCRO / Andrew Cherry
	  </a>
	</h1>
	<h2>Andrew Cherry on Software and Technology</h2>
      </hgroup>
    </header>
    {{ content }}
    <footer>
      <p>Content copyright etc.</p>
    </footer>
  </body>
</html>
